/* background-image http://subtlepatterns.com/  Thanks! */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size:100%;
}

img {
    border:none;
}

ol, ul{
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Open Sans","Helvetica Neue",Arial,"Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",sans-serif;
}

/* navigation design */
#globalheader-container {
    color: #fff;
    background: url(http://img.f.hatena.ne.jp/images/fotolife/p/platism/20130223/20130223212637.png);
    box-shadow: 0 0 5px #000;
    width 100%;
}

/* title design */
#blog-title {
    width: 950px;
    text-align: center;
    margin: auto;
    margin: 30px auto;
}

#blog-title-inner {
	border-radius: 10px;
}

/* container design */
#content {
    width: 100%;
    margin: auto;
}

#container * {
    -webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#wrapper {
    width: 950px;
    padding: 35px 50px 20px 50px;
    margin: auto auto 50px auto;;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
}

/* title design */
#title {
    font-size: 180%;
    color: #fff;
    text-shadow: 1px 0px 1px #fff,-1px 0px 1px #fff,0px -1px 1px #fff,0px -1px 1px #fff,2px 2px 2px #999;

    font-weight: bold;
    font-family: serif;
}

.header-image-enable #title {
    text-align: center;
}

#title a {
    color: #444;
    text-decoration: none;
    display: inline-block;
}

#title a:hover {
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}


#blog-description {
    margin-top: 5px;
    font-size: 90%;
    color: #666;
    text-shadow: 1px 1px 1px #fff,-1px 1px 1px #fff,1px -1px 1px #fff,-1px -1px 1px #fff;
}

.header-image-enable #blog-description {
    text-align: center;
}

.header-image-enable #blog-title-inner {
    padding: 60px;
}

/* breadcrumb design */
.breadcrumb {
    width: 950px;
    margin: auto;

    padding: 10px;
    text-shadow: 1px 0px 1px #fff,-1px 0px 1px #fff,0px -1px 1px #fff,0px -1px 1px #fff;
}

.breadcrumb a {
    color: #ff3399;
}

/* calender design */
.date a {
    display: block;
    
    position: absolute;
    margin-left: -160px;
    margin-top: -30px;
    font-family: 'Open Sans',cursive;
    width: 80px;
    height: 80px;

    background: #244373;
    text-align: center;
    color: #fff;
    
    border-radius: 50%;
    box-shadow: 0 0 5px #444; 
    
    text-shadow: 1px 1px 1px #999;
}

.date a:hover {
    background: #022153;
    text-decoration: none;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.date-year {
    display: block;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    top: 50px;
    left: -3px;
}

.date-month {
    display: block;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    position: relative;
    top: -9px;
    left: -7px;
}

.date-day {
    display: block;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    position: relative;
    top: -17px;
    left: 12px;
}

.hyphen {
    display: none;
}

/* entry title design */
.entry-title {
    font-size: 150%;
    font-weight: bold;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",sans-serif;
    margin: 0.1em 0;
}

.entry-title a {
    color: #2d6bc4;
    text-shadow: 1px 1px 1px #999;
}

.entry-header {
    position: relative;
    margin-bottom: 0.5em;
}

/* edit button */
.entry-header-menu a {
    display: block;
    position: absolute;
    left: -155px;
    top: 70px;
    padding: 3px 20px;
    line-height: 30px;
    text-align: center;
    background-color: #333;
    font-size: 90%;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 3px;
}

.entry-header-menu a:hover {
    box-shadow: 0 0 10px #000;
    background: #000;
    text-decoration: none;
}

.categories:before {
    content: "Category : ";
    font-size: 80%;
}

.categories a {
    color: #666;
    font-size: 80%;
}

.categories a:before {
  content: '\25B8';
}

/* entry design */
.entry {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px  #aaa;

    position: relative;
}

.entry:after {
    right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #fff;
	border-width: 20px;
	top: 10px;
    left: -90px;
	margin-top: -20px;
}

.page-about .entry:after {
    display: none;
}

.entry-content {
    color: #000; 
    margin: 0.8em 0;
    line-height: 1.8;
    font-size: 100%;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",sans-serif;
}

.entry-content p {
    margin: 0.8em 0;
}

.entry-content a {
    color: #2d6bc4;
}

a.keyword {
    color: #000;
    border-bottom: dotted 1px #aaa;
}

a.keyword:hover {
    border-bottom: solid 1px #aaa;
    text-decoration: none;
}

.entry-content h3, .entry-content h1, .entry-content h2 {
    font-size: 140%;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}

.entry-content h4 {
    font-size: 130%;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}

.entry-content h5 {
    font-size: 120%;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}

.entry-content blockquote {
    background: #ece4e8;
    padding: 20px;
	margin: 0.8em 0;
}

.entry-content blockquote p {
    margin: 0;
}

.entry-content pre {
    color: #fff;
    border: solid 1px #eee;
    padding: 20px;
    background: #333;
    font-size: 100%;
}

.entry-content pre.code {
    color: #fff;
    border: solid 1px #eee;
    padding: 20px;
    background: #333;
    font-size: 80%;
}

.entry-content pre a.keyword {
    color: inherit;
    text-decoration: underline;
    margin: 0.5em 0;
}

.entry-content table {
    border-collapse: collapse;
    border: solid 1px #000;
    font-size: 90%;
}

.entry-content th {
    background: #eee;
}

.entry-content th, .entry-content td {
    border: solid 1px #000;
    padding: 3px 6px;
}

.entry-content ul li {
    list-style-type: square;
    margin-left: 40px;
}
.entry-content ol li {
    list-style-type: decimal;
    margin-left: 40px;
}

.entry-content .hatena-asin-detail {
	padding: 15px 20px;
}

.entry-content .hatena-asin-detail li {
    list-style-type: none;
    font-size: 90%;
}

.entry-content dl {
    margin: 0.8em 0;
}

.entry-content dt {
    font-weight: bold;
}

.entry-content dd {
    margin-left: 40px;
}

.entry-content img, .entry-content iframe, .entry-content embed { 
    max-width: 850px;
}

.entry-content img.magnifiable, .entry-content img.hatena-fotolife { 
    border-radius: 5px;
    box-shadow: 0 0 7px #999;

    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
}

.entry-content img.magnifiable:hover, .entry-content img.hatena-fotolife:hover {
	box-shadow: 0 0 7px 1px #666;
}

.entry-footer a {
    color: #4c4c4c;
    font-size: 80%;
}

.fn {
    font-size: 80%;
}

.hatena-star-container {
    margin-bottom: 10px;
}

/* comment design */
.entry-comment {
	margin-top: 8px;
    margin-bottom: 8px;
}

.comment-content {
    font-size: 90%;
    padding: 10px;

    width: 450px;
    position: relative;
    background: #efefef;
	border: 1px solid #bbb;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 6px;

    word-wrap: break-word;
}

.comment-content:after, .comment-content:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.comment-content:after {
	border-bottom-color: #efefef;
	border-width: 8px;
	left: 20px;
	margin-left: -8px;
}
.comment-content:before {
	border-bottom-color: #bbb;
	border-width: 9px;
	left: 20px;
	margin-left: -9px;
}

.comment-metadata {
    font-size: 90%;
    font-family: "Open Sans",sans-serif;
}

.entry-footer .leave-comment-title {
	border: solid 1px #bbb;
	padding: 3px 6px;
	border-radius: 3px;

	color: #333;
	background-color: #e6e6e6;
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(top,#fff,#e6e6e6);
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);

	text-decoration: none;
	text-align: center;
	font-size: 70%;
	white-space: nowrap;

	font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	opacity: 0.7;
    display: inline-block;
    margin-top: 5px;
}

.entry-footer .leave-comment-title:hover {
	opacity: 1;
	box-shadow: 0 0 2px #999;
}


/* common sidebar */
#box2 {
    width: 100%;
    height: auto;
    background: url(http://img.f.hatena.ne.jp/images/fotolife/p/platism/20130223/20130223212637.png);
    color: #aaa;
    box-shadow: 0 -3px 3px #000;
}

#box2:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

#box2-inner {
    width: 1000px;
    margin: auto;
}

.hatena-module {
    margin: 30px 20px 30px 20px;
    width: 210px;
    float: left;
    min-height: 300px;
}

.hatena-module:nth-child(4n+1){
    clear: both;
}

.hatena-module a {
    color: #aaa;
}

.hatena-module a:hover {
    color: #fff;
}

.hatena-module-title {
    font-size: 110%;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: solid 2px #444;
    margin-bottom: 15px;
}

.hatena-module-body {
    font-size: 90%;
}

/* eroge bunner optimize */
.hatena-module-body a .erg {
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

.hatena-module-body:hover a .erg {
    opacity: 0.8;
}

.hatena-urllist li {
    padding: 0.3em 0;
}

/* profile design */
.hatena-module-profile .profile-icon {
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-icon {
    border-radius: 5px;
}

.id {
    display: block;
    text-align: center;
}

.profile-description {
    margin: 0.8em 0;
    color: #fff;
    text-align: center;
}

/* searchbox design */
.search-module-input {
    width: 150px;
    height: 25px;
    padding: 3px 5px;
    border: solid 1px #aaa;
    vertical-align: middle;
}

.search-module-button {
	height: 25px;
    padding: 0 10px;
    line-height: 25px;
    
    background-color: #999;
    color: #fff;

    border: none;
    cursor: pointer;
    margin-left: -4px;

    vertical-align: middle;
}

.search-module-button:hover {
    background-color: #000;
    box-shadow: 0 0 5px #fff;
}

/* pager button */
.pager-prev a {
    color: #ff3399;
    text-shadow: 0 0 1px #999;
    padding: 0 5px;
}

.pager-next a {
    color: #ff3399;
    text-shadow: 0 0 1px #999;
    padding: 0 5px;
}

/* archive design */
.page-archive #main a {
    color: #4c4c4c;
}

.page-archive #main p {
    font-size: 120%;
    color: #4c4c4c;
    padding-bottom: 5px;
    border-bottom: solid 1px #aaa;
    margin-bottom: 15px;
}

.page-archive #main .entry-title {
    font-size: 90%;
    font-weight: normal;
}

.page-archive #main .entry-title {
    color: #2d6bc4;
}

.page-archive #main .categories:before {
    display: none;
}

.page-archive #main li {
    margin-left: 30px;
}

.page-archive section {
    margin-bottom: 10px;
}

/* about */
.page-about #main dd {
    margin-bottom: 10px;
}

.page-about #main dt:before {
    content: "❦ ";
    color: #e3343a;
}

/* corresponding problem of height */
#content:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

/* footer */
#footer {
    clear: both;
    background: url(http://img.f.hatena.ne.jp/images/fotolife/p/platism/20130223/20130223212637.png);
    text-align: center;
    padding: 6px;
    font-size: 70%;
}

#footer a {
    color: #999;
    
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

#footer a:hover {
    color: #fff;
}

#footer img {
    border-radius: 50%;
}

/* scroll button design */
#page-top {
    width: 40px;
	height: 40px;
    font-family: "Open Sans",sans-serif;
	position: fixed;
	top: 65px;
	right: 20px;

	background: #244373;
	text-decoration: none;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 22px;

	font-weight: 300;
	border-radius: 50%;

	z-index: 1;
	box-shadow: 0 2px 5px #999;
	cursor: pointer;
    opacity: 0.7;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#page-top:hover {
    opacity: 1;
}

#page-down {
    width: 40px;
	height: 40px;
	font-family: "Open Sans",sans-serif;
	position: fixed;
	top: 115px;
	right: 20px;

	background: #244373;
	text-decoration: none;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 22px;

	font-weight: 300;
	border-radius: 50%;

	z-index: 1;
	box-shadow: 0 2px 5px #999;
	cursor: pointer;
    opacity: 0.7;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#page-down:hover {
    opacity: 1;
}