@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Simonetta:400);

* {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size:100%;
}

img {
	border:none;
}

ol, ul{
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: Meiryo,sans-serif;
	color: #333;
	background: #ddd;
}

/* navigation design */
#globalheader-container {
	width: 100%;
	color: #666;
}

#container {
	width: 1005px;
	padding: 0 10px;
	margin: auto;
}

/* container design */
#content {
	width: 985px;
	margin: 15px auto;
	padding: 0;
}

#container a {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

#container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#wrapper {
	width: 670px;
	background: transparent;
	float: left;

}

.entry {
	background: #fff;
	position: relative;
	margin-bottom: 15px;
}

/* title design */
#blog-title {
	width: 985px;
	text-align: left;
	margin: 40px auto 15px;
}

#title {
	font-size: 150%;
	display: inline-block;
}

#title a {
	color: #333;
}

#blog-description {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 90%;
	display: inline-block;
}

.header-image-enable #blog-title, .header-image-only #blog-title {
	padding: 0;
	background: #fff;
	margin: 15px auto;
}

.header-image-enable #blog-title-inner {
	padding: 70px;
	background: #fff;
}

.header-image-enable #title {
	text-align: center;
	display: block;
}

.header-image-enable #blog-description {
	text-align: center;
	display: block;
}

/* breadcrumb design */
.breadcrumb {
	width: 985px;
	margin: 0px auto;
	height: 35px;
}

.breadcrumb div {
	padding: 8px 20px;
	width: 670px;
	height: 35px;
	background: #888;
	color: #fff;
}

.breadcrumb a {
	color: #fff;
}

.date {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.date .hyphen {
	display: none;
}

.date .date-month:before, .date .date-day:before {
	content: " / ";
}

/* calender design */
.date a {
	font-size: 90%;
}

/* entry title design */
.entry-title {
	font-size: 135%;
	font-weight: bold;
	margin: 0.2em 0;
}

.entry-title a {
	color: #333;
}

.entry-header {
	position: relative;
	padding: 10px 20px;
	background: #2980b9;
	color: #fff;
	margin-bottom: 1em;
}

.entry-header a {
	color: #fff;
}

/* edit button */
.entry-header-menu a {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 20px;
	text-align: center;
	background-color: #e73d40;
	font-size: 95%;
	color: #fff;
	border: dotted 1px #efefef;
}

.entry-header-menu a:hover {
	text-decoration: none;
	box-shadow: inset 0px 1px 12px #666;
	text-shadow:  0 0 3px #000;
	opacity: 0.8;
}

.categories {
	width: 540px;
	word-wrap: normal; /* for IE */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* カテゴリ未設定の時に表示させない！ */
.entry-header .no-categories {
	display: block;
	height: 21px;
}

.entry-header .categories a {
	font-size: 70%;
	display: inline-block;
	padding: 3px 6px;
	background: #999;
	background: rgba(0,0,0,0.1);
	color: #fff;
}

/* entry design */
.entry-content {
	line-height: 1.8;
	font-size: 90%;
	padding: 0px 20px 10px;
}

.entry-content p {
	margin: 0.8em 0;
}

.entry-content a {
	color: #3489bd;
}

.entry-content a:hover {
	text-decoration: underline;
}

a.keyword {
	color: #333;
	border-bottom: dotted 1px #ccc;
}

a.keyword:hover {
	border-bottom: solid 1px #aaa;
	text-decoration: none;
}

.entry-content h3, .entry-content h1, .entry-content h2 {
	font-size: 130%;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
	padding: 4px 10px;
	border-left: solid 10px #c0392b;
	background: #fafafa;
	background: rgba(250,250,250,1);
}

.entry-content h4 {
	font-size: 120%;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
	padding: 2px 15px;
	border-left: solid 5px #c0392b;
	border-bottom: dashed 1px #c0392b;
}

.entry-content h5 {
	font-size: 110%;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
	padding: 2px 0px;
}

.entry-content h5:before {
	content: "■ ";
	color: #c0392b;
}

.entry-content blockquote {
	padding: 20px 45px;
	background: #efefef;
	background: rgba(245,245,245,0.8);
	color: #333;
	position: relative;
	border: solid 1px #fff; /* 背景が白以外のケース用 */
	margin: 0.8em 0;
}

.entry-content blockquote p {
	font-size: 90%;
}

.entry-content blockquote:before {
	content: "“";
	font-family: serif;
	position: absolute;
	top:0;
	left:0;
	font-size: 600%;
	color: #c8c8c8;
	color: rgba(200,200,200,1);
	line-height: 1em;
}

.entry-content blockquote:after {
	content: "”";
	font-family: serif;
	position: absolute;
	bottom:0;
	right:0;
	font-size: 600%;
	color: #c8c8c8;
	color: rgba(200,200,200,1);
	line-height: 0;
}

.entry-content blockquote img {
	max-width: 100%;
}

.entry-content blockquote cite {
	display: block;
	text-align: right;
}

.entry-content blockquote p {
margin: 0;
}

/* pre design */
.entry-content pre {
	color: #333;
	border: solid 1px #ddd;
	padding: 20px;
	background: #fff;
	font-size: 100%;
	margin: 0.8em 0;
}

/* super pre design */
.entry-content pre.code {
	color: #333;
	border: none;
	padding: 20px;
	background: #f6f6f2;
	font-size: 85%;
	margin: 0.8em 0;
}

.entry-content table {
	border-collapse: collapse;
	border: solid 1px #ddd;
	margin: 0.8em 0;
}

.entry-content th {
	background: #f5f5f5;
	font-weight: bold;
}

.entry-content th, .entry-content td {
	border: solid 1px #ddd;
	padding: 5px 10px;
}

.entry-content td {
	background: #fff;
}

.entry-content > ul, .entry-content > ol {
	margin: 0.8em 0;
}

.entry-content ul li {
	list-style-type: disc;
	margin-left: 30px;
}
.entry-content ol li {
	list-style-type: decimal;
	margin-left: 30px;
}

.entry-content dl {
	margin: 0.8em 0;
}

.entry-content dt {
	font-weight: bold;
	margin-bottom: 0.2em;
}

.entry-content dd {
	margin-left: 30px;
	margin-bottom: 0.4em;
}

.entry-content img, .entry-content iframe, .entry-content embed { 
	max-width: 100%;
}

.entry-content img.magnifiable, .entry-content img.hatena-fotolife { 
	max-width: 100%;
	border: solid 1px #ddd;
	padding: 5px;
	background: #efefef;
}

.entry-content img.magnifiable:hover, .entry-content img.hatena-fotolife:hover { 
	border: solid 1px #de741e;
}

.entry-content .hatena-asin-detail {
	background: #fff;
	border: solid 1px #ddd;
	padding: 15px 20px;
}

.entry-content .hatena-asin-detail li {
	list-style-type: none;
	font-size: 95%;
}

.entry-footer {
	padding: 10px 20px;
}

.entry-footer a {
	color: #3489bd;
	font-size: 80%;
}

.fn {
	font-size: 80%;
}

.entry-footer-section {
	display: inline-block;
}

.hatena-star-container {
	margin-left: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.social-buttons {
	margin: 0.8em 0;
}

/* コメント */
.comment-box ul {
	list-style: none;
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 95%;
	line-height: 1.7;
}

.comment-box .comment > li {
	padding: 10px 0 10px 90px;
	border-bottom: 1px solid #dddddd;
	position: relative;
}

.comment-box .comment > li:first-child {
	border-top: 1px solid #dddddd;
}

.comment-box .hatena-id-icon {
	position: absolute;
	top: 10px;
	left: 0;
	width: 64px !important;
	height: 64px !important;
	
	border-radius: 50%;
	box-shadow: 0 0 0 5px #ecf0f1;
	
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.comment-user-name {
	margin: 0 0 10px 0;
	font-weight: normal;
}

.comment-metadata {
	font-size: 80%;
	color: #999999;
	margin: 0;
}
.comment-metadata a {
  color: #999999;
}

.comment-box .comment .read-more-comments {
	padding: 0;
}

.comment-box .comment .read-more-comments a {
	display: block;
	padding: 10px 0;
}

.comment-box .read-more-comments a:hover {
	background: #efefef;
	text-decoration: none;
	box-shadow: inset 0px 1px 12px #666;
	opacity: 0.8;
}

/* コメント欄はてな記法対応 */
.comment-content {
	font-size: 90%;
	margin: 0 0 10px 0;
	word-wrap: break-word;
}
.comment-content p {
	margin: 0.8em 0;
}

.comment-content img {
	max-width: 100%;
}

.comment-content h3 {
	margin: 1em 0 0.5em 0;
	font-size: 130%;
	font-weight: bold;
	padding: 4px 10px;
	border-left: solid 10px #c0392b;
	background: #fafafa;
	background: rgba(250,250,250,1);
}
.comment-content h4 {
	margin: 1em 0 0.5em 0;
	font-size: 120%;
	font-weight: bold;
	padding: 2px 15px;
	border-left: solid 5px #c0392b;
	border-bottom: dashed 1px #c0392b;
 }
 
.comment-content h5 {
	margin: 1em 0 0.5em 0;
	font-size: 110%;
	font-weight: bold;
}

.comment-content h5:before {
	content: "■ ";
	color: #c0392b;
}

.comment-content blockquote {
	padding: 20px 45px;
	background: rgba(245,245,245,0.8);
	color: #333;
	position: relative;
	border: solid 1px #fff; /* 背景が白以外のケース用 */
	margin: 0.8em 0;
}

.comment-content blockquote p {
	font-size: 90%;
}

.comment-content blockquote:before {
	content: "“";
	font-family: serif;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 600%;
	color: rgba(200,200,200,1);
	line-height: 1em;
}

.comment-content blockquote:after {
	content: "”";
	font-family: serif;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 600%;
	color: rgba(200,200,200,1);
	line-height: 0;
}

.comment-content blockquote cite {
	display: block;
	text-align: right;
}

.comment-content blockquote p {
	margin: 0;
}

.comment-content pre {
	color: #333;
	border: none;
	padding: 20px;
	background: #f6f6f2;
	font-size: 100%;
	margin: 0.8em 0;
}

.comment-content table {
	border-collapse: collapse;
	border: solid 1px #ddd;
	margin: 0.8em 0;
}

.comment-content th {
	background: #f5f5f5;
	font-weight: bold;
}

.comment-content th, .comment-content td {
	border: solid 1px #ddd;
	padding: 5px 10px;
}

.comment-content td {
	background: #fff;
}

.comment-content > ul, .comment-content > ol {
	margin: 0.8em 0;
}

.comment-content ul li {
	list-style-type: disc;
	margin-left: 30px;
}
.comment-content ol li {
	list-style-type: decimal;
	margin-left: 30px;
}

.comment-content dl {
	margin: 0.8em 0;
}

.comment-content dt {
	font-weight: bold;
	margin-bottom: 0.2em;
}

.comment-content dd {
	margin-left: 30px;
	margin-bottom: 0.4em;
}

.comment-content img, .comment-content iframe, .comment-content embed { 
	max-width: 100%;
}

.comment-content img { 
	max-width: 100%;
	border: solid 1px #ddd;
	padding: 5px;
	background: #efefef;
}

.entry-footer .comment-box {
	margin: 0.8em 0;
}

.entry-footer .leave-comment-title {
	display: block;
	padding: 8px 0;
	color: #fff;
	background: #999;
	text-decoration: none;
	text-align: center;
	font-size: 90%;
	white-space: nowrap;
}

.entry-footer .leave-comment-title:hover {
	box-shadow: inset 0px 1px 15px #333;
	text-shadow:  0 0 3px #000;
	opacity: 0.8;
}

/* common sidebar */
#box2 {
	width: 300px;
	height: auto;
	float: right;
	position: relative;
}

.hatena-module {
	width: 300px;
	background: #fff;
	font-size: 90%;
	margin-bottom: 15px;
}

.hatena-module a {
	color: #3489bd;
}

.hatena-module a:hover {
	text-decoration: underline;
}

.hatena-module-title {
	font-size: 120%;
	font-weight: bold;
	color: #fff;
	background: #2980b9;
	padding: 10px 15px;
}

/* archiveリンク対応 */
.hatena-module-recent-entries .hatena-module-title, .hatena-module-archive .hatena-module-title  {
	padding: 0;
}

.hatena-module-title a {
	position: relative;
	display: block;
	color: #fff;
	padding: 10px 15px;
}

.hatena-module-title a:hover {
	text-decoration: none;
	box-shadow: inset 0px 1px 12px #666;
	text-shadow:  0 0 3px #000;
	opacity: 0.8;
}

.hatena-module-title a:after {
	content: ">>more";
	font-size: 14px;
	position: absolute;
	right: 15px;
	bottom: 10px;
}

.hatena-module-body {
	font-size: 90%;
	padding: 10px 15px;
}

/* For hentai game's banner */
.hatena-module-body a .erg {
	padding: 10px;
	background: #fff;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	opacity: 0;
}

.hatena-module-body a .ergview {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	opacity: 1;
}

.hatena-module-body:hover a .erg {
	opacity: 0.8;
}

/* archive & link */
.hatena-module-recent-entries .hatena-module-body, .hatena-module-links .hatena-module-body {
	padding: 0;
}

.hatena-module-recent-entries .hatena-urllist li a, .hatena-module-links .hatena-urllist li a {
	display: block;
	padding: 8px 15px;
	border-bottom: solid 1px #ddd;
}

.hatena-module-recent-entries .hatena-urllist li:last-of-type a, .hatena-module-links .hatena-urllist li:last-of-type a {
	border-bottom: none;
}

.hatena-module-recent-entries .hatena-urllist li a:hover, .hatena-module-links .hatena-urllist li a:hover{
	background: #efefef;
	text-decoration: none;
	box-shadow: inset 0px 1px 12px #666;
	opacity: 0.8;
}

/* comments */
.hatena-module-recent-comments .hatena-module-body {
	padding: 0;
	color: #777;
}

.hatena-module-recent-comments .hatena-urllist li {
	position: relative;

	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.hatena-module-recent-comments .user-id {
	display: block;
	position: absolute;
	left: 15px;
	top: 10px;
}

.hatena-module-recent-comments .user-id img {
	box-shadow: 0 0 0 2px #ecf0f1;
	border-radius: 50%;
}

.hatena-module-recent-comments a {
	display: block;
	padding: 30px 0 10px 15px;
	color: #3489bd;
	border-bottom: solid 1px #ddd;
}

.hatena-module-recent-comments a:hover {
	text-decoration: none;
}

.hatena-module-recent-comments .hatena-urllist li:hover {
	background: #efefef;
	box-shadow: inset 0px 1px 12px #666;
	opacity: 0.8;
}

.hatena-module-recent-comments .hatena-urllist li > .recent-comment-time {
	display: block;
	position: absolute;
	right: 15px;
	top: 10px;
	font-style: normal;
	opacity: 1;
}

.hatena-module-recent-comments .hatena-urllist li:last-of-type a {
	border-bottom: none;
}

/* ------- Archiveフラット化対応 ------- */
.hatena-module-archive .hatena-module-body {
	padding: 0;
}

.archive-module-year {
	position: relative;
}

.archive-module-button {
	position: absolute;
	width: 38px;
	height: 38px;
	line-height: 38px;
	background: #efefef;
	text-align: center;
	cursor: pointer;
	border-bottom: solid 1px #ddd;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.archive-module-month {
	margin: 0 !important;
}

.archive-module-year-title, .archive-module-month-title {
	display: block;
	padding-left: 48px;
	border-bottom: solid 1px #ddd;
	height: 38px;
	line-height: 38px;
}

.archive-module-year-title {
	padding-left: 10px;
	margin-left: 38px;
}

a.archive-module-year-title:hover, a.archive-module-month-title:hover, .archive-module-button:hover {
	text-decoration: none !important;
	background: #efefef;
	box-shadow: inset 0px 1px 12px #666;
	opacity: 0.8;
}
/* ------- ここまで ------ */

/* Profile Design */
.hatena-module-profile .profile-icon {
	margin: 5px 15px 15px 5px;
	float: left;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #ecf0f1;
}

.profile-icon {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.profile-icon:hover {
	box-shadow: 0 0 0 5px #c45666 !important;
}

.id {
	font-size: 100%;
}

.profile-description {
	margin: 0.8em 0;
	text-align: left;
	line-height: 1.5;
}

/* Searchbox Design */
.hatena-module-search-box .hatena-module-title {
	display: none;
}

.hatena-module-search-box .hatena-module-body {
	padding: 0;
}

.search-form {
	position: absolute;
	top: -50px;
}

.search-module-input {
	width: 300px;
	height: 35px;
	padding: 0px 10px;
	font-size: 100%;
	border: solid 1px #ddd;
	vertical-align: middle;
	background: #efefef;
}

.search-module-input:focus {
	background: #fff;
}

.search-module-button {
	display: inline-block;
	text-indent: -999px;
	width: 35px;
	height: 35px;
	border: none;
	vertical-align: bottom;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0.4;
	cursor: pointer;
	background: url(http://img.f.hatena.ne.jp/images/fotolife/p/platism/20130711/20130711002432.gif) no-repeat 50% 50%;
}

/* 改行防止(省略表示) */
.hatena-module-recent-entries li a {
	word-wrap: normal; /* for IE */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.hatena-module-recent-entries li a:hover {
	white-space: normal;
	text-overflow: clip;
	overflow: visible;
}

.archive-module-month {
	list-style-type: none !important;
}

/* Category Cloud */
.hatena-module-category li  {
	display: inline-block;
	margin-bottom: -2px;
}

.hatena-module-category li a {
	display: inline-block;
	display: block;
	float: left;
	color: #fff;
	background: #4ba2db;
	padding: 0 5px;
	line-height: 25px;
	height: 25px;
	font-size: 85%;
	max-width: 100%;
	word-wrap: normal; /* for IE */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.hatena-module-category li a:hover {
	text-decoration: none;
	background: #c73140;
	-webkit-transform: scale(1.4,1.4);
	transform: scale(1.4,1.4);
	box-shadow: 0 0 3px 1px #999;
}

.hatena-module-category .hatena-urllist li {
	padding: 0.1em 0;
}

.hatena-module-archive .hatena-module-body {
	font-size: 100%;
}

/* Pager Button */
.pager {
	width: 670px;
}

.pager:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.pager-next a:after {
	content: "  \25b6";
}

.pager-prev a:before {
	content: "\25c0  ";
}

.page-entry .pager-next a,.page-entry .pager-prev a, .page-archive .pager-next a, .page-archive .pager-prev a {
	display: block;
	width: 328px;
	text-align: center;
	background: #e74c3c;
	float: left;
	margin: auto;
	padding: 12px 0;
	font-size: 90%;
	color: #fff;
}

.page-entry .pager-next a, .page-archive .pager-next a {
	float: right;
}

/* Index-Page */
.page-index .pager-next a , .page-search .pager-next a , .page-category-category_name .pager-next a, .page-entries-year-month-day .pager-next a {
	display: block;
	width: 670px;
	text-align: center;
	background: #e74c3c;
	margin: auto;
	padding: 12px 0;
	font-size: 90%;
	color: #fff;
}

.pager-next a:hover, .pager-prev a:hover {
	text-decoration: none;
	box-shadow: inset 0px 1px 12px #666;
	text-shadow:  0 0 3px #000;
	opacity: 0.8;
}

/* Archive Page */
.page-archive #main-inner:before {
	content: "Archive";
	display: block;
	width: 630px;
	margin-left: -20px;
	margin-top: -10px;
	padding: 10px 20px;
	background: #2980b9;
	color: #fff;
	font-size: 120%;
	font-family: 'Simonetta',meiryo,sans-serif;
}


.page-archive #main-inner {
	padding: 10px 20px;
	background: #fff;
	position: relative;
	margin-bottom: 15px;
}

.page-archive #main-inner .page-archive-section:first-of-type {
	margin-top: 20px;
}

.page-archive #main-inner .page-archive-section {
	position: relative;
}

.page-archive #main-inner a {
	color: #333;
}

.page-archive #main p {
	font-size: 100%;
	color: #333;
	margin: 15px auto;
}

.page-archive #main .entry-title {
	font-size: 90%;
	font-weight: normal;
	display: inline-block;
	margin-top: 10px;
	color: #3489bd;
}

.page-archive section {
	margin-bottom: 10px;
	font-family: sans-serif;
}

.page-archive #main section h1 {
	font-weight: bold;
	font-size: 90%;
	color: #333;
	margin-bottom: 0.4em
}

.page-archive #main section li {
	margin-bottom: 0.8em;
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.4em; 
}

.page-archive #main .categories a {
	display: inline-block;
	color: #fff;
	background: #4ba2db;
	padding: 0 5px;
	line-height: 23px;
	height: 23px;
	font-size: 75%;
}

.page-archive #main .categories {
	display: block;
}

.page-archive #main li:first-of-type .categories {
	position: absolute;
	top: -4px;
	left: 90px;
}

.page-archive #main li:not(:first-of-type) .categories {
	position: relative;
	left: 90px;
}

/* about */
.page-about #main dt {
	padding: 0 0 0.4em;
	margin: 0 0 0.4em 0;
	border-bottom: solid 1px #ddd;
}

.page-about #main dd {
	margin: 0 0 0.8em 10px;
}

.page-about #main img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 10px;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #ecf0f1;
}

.page-about #main dt:before {
	content: "■ ";
	color: #ce0c0c;
}

.page-about #main .entry-content {
	padding: 10px 20px;
}

.page-about #main .entry-content:before {
	content: "About";
	display: block;
	width: 630px;
	margin-left: -20px;
	margin-top: -10px;
	padding: 10px 20px;
	background: #2980b9;
	color: #fff;
	font-size: 120%;
	font-family: 'Simonetta',meiryo,sans-serif;
}

.page-about .subscription-count {
	display: block;
}

/* 404notfound */
.no-entry .entry-content {
	padding: 10px 20px;
}

.no-entry .entry-content h1 {
	margin: 0.5em 0;
}

/* height対応 */
#content:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

/* footer */
#footer {
	clear: both;
	text-align: center;
	padding: 10px;
	font-size: 80%;
	z-index: 4;
}

#footer a {
	color: #333;
	text-shadow: 0 0 1px #fff;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

#footer a:hover {
	text-decoration: underline;
}

#footer img {
	border-radius: 50%;
}

#top-editarea, #bottom-editarea {
	width: 985px;
	margin: 0 auto;
}

/* WebFont指定 */
#blog-title, .date, .categories, #box2, .pager, .leave-comment-title, .entry-footer-section, #footer, .breadcrumb, .entry-header-menu, .page-archive-section h1, .page-archive #main p, .comment-user-name, .comment-metadata, .read-more-comments {
	font-family: 'Simonetta',meiryo,sans-serif;
}

.page-archive-section h1 {
	font-weight: normal !important;
}

