@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size:100%;
}

img {
    border:none;
}

ol, ul{
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Meiryo,serif,sans-serif;
	color: #000;
}

/* navigation design */
#globalheader-container {
    color: #454545;
    width: 100%;
}

/* container design */
#content {
    width: 1000px;
    margin: auto;
    padding: 0px 0px 50px;
}

#container a {
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

#container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    width: 700px;
    background: transparent;
    float: right;
}

.entry {
	padding: 20px 25px 25px;
	background: #fff;
    position: relative;
    margin-bottom: 25px;
}

/* title design */
#blog-title {
    width: 1000px;
    text-align: left;
    margin: 25px auto;
    padding: 30px 25px;
    background: #fff;
}

#title {
    font-size: 210%;
    display: inline-block;
    text-shadow: 1px 1px 2px #aaa; 
}

#title a {
    color: #333;
}

#blog-description {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 90%;
    color: #454545;
    display: inline-block;
}

.header-image-enable #blog-title, .header-image-only #blog-title {
	padding: 0;
	background: #fff;
	margin: 25px auto;
}

.header-image-enable #blog-title-inner {
	padding: 50px 0;
	background: #fff;
}

.header-image-enable #title {
    text-align: center;
    display: block;
}

.header-image-enable #blog-description {
    text-align: center;
    display: block;
}

.header-image-enable #blog-title-inner {
    padding: 60px;
}

/* breadcrumb design */
.breadcrumb {
    width: 1000px;
    margin: 25px auto;
	background: #fff;
    padding: 10px 25px;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb div::before {
	content: "✱";
}

/* calender design */
.date a {
    font-size: 80%;
    font-family: cursive,sans-serif;
	color: #454545;
}

/* entry title design */
.entry-title {
    font-size: 150%;
    font-weight: bold;
    margin: 0.2em 0;
}

.entry-title a {
    color: #333;
}

.entry-header {
    position: relative;
    margin-bottom: 0.5em;
    padding-bottom: 5px;
    border-bottom: solid 1px #ddd;
}

/* edit button */
.entry-header-menu a {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 12px;
    padding: 4px 10px;
    text-align: center;
    background-color: #605a5a;
    font-size: 95%;
    color: #fff;
    border: solid 1px #fff;
}

.entry-header-menu a:hover {
    background: #000;
    text-decoration: none;
}

.categories {
	width: 560px;
	word-wrap: normal; /* for IE */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.page-index .categories , .page-entry .categories,.page-search .categories, .page-category-category_name .categories, .page-entries-year-month-day .categories {
    position: absolute;
    top:  0px;
    left: 90px;
}

/* カテゴリ未設定の時に表示させない！ */
.no-categories {
	display: none;
}

.categories a {
	color: #898989;
    font-size: 70%;
    display: inline-block;
    padding: 3px 6px;
    background: #efefef;
    border-radius: 3px;
}

/* entry design */
.entry-content {
    margin: 0.8em 0;
    line-height: 1.9;
    font-size: 95%;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
}

.entry-content p {
    margin: 0.8em 0;
}

.entry-content a {
	color: #195caa;
}

.entry-content a:hover {
    text-decoration: underline;
}

a.keyword {
    color: #000;
    border-bottom: dotted 1px #ccc;
}

a.keyword:hover {
    border-bottom: solid 1px #aaa;
    text-decoration: none;
}

.entry-content h3, .entry-content h1, .entry-content h2 {
    font-size: 130%;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
    padding: 3px 10px;
    border-left: solid 5px #454545;
    background: #efefef;
    background: rgba(245,245,245,1);
    text-shadow: 1px 1px 1px #fff;
}

.entry-content h4 {
    font-size: 120%;
    font-weight: bold;
    margin: 1em 0 0.5em 0;

    padding: 3px 10px;
    border-left: solid 5px #454545;
    border-bottom: dotted 1px #454545;
}

.entry-content h5 {
    font-size: 110%;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
    border-bottom: dotted 1px #454545;
}

.entry-content blockquote {
	padding: 20px 45px;
	background: rgba(245,245,245,0.8);
	color: #222;
    position: relative;
    border: solid 1px #fff; /* 背景が白以外のケース用 */
	margin: 0.8em 0;
}

.entry-content blockquote p {
    font-size: 90%;
}

.entry-content blockquote::before {
    content: "“";
    font-family: serif;
    position: absolute;
    top:0;
    left:0;
    font-size: 600%;
    color: rgba(200,200,200,1);
    line-height: 1em;
}

.entry-content blockquote::after {
    content: "”";
    font-family: serif;
    position: absolute;
    bottom:0;
    right:0;
    font-size: 600%;
    color: rgba(200,200,200,1);
    line-height: 0;
}

.entry-content blockquote img {
    max-width: 100%;
}

.entry-content blockquote cite {
    display: block;
    text-align: right;
}

.entry-content blockquote p {
    margin: 0;
}

/* pre design */
.entry-content pre {
    color: #454545;
    border: solid 1px #ddd;
    padding: 20px;
    background: #fff;
    font-size: 100%;
	margin: 0.8em 0;
}

/* super pre design */
.entry-content pre.code {
    color: #fff;
    border: none;
    padding: 20px;
    background: #222;
    font-size: 80%;
    margin: 0.8em 0;
}

.entry-content table {
    border-collapse: collapse;
    border: solid 1px #ddd;
    margin: 0.8em 0;
}

.entry-content th {
    background: #f5f5f5;
    font-weight: bold;
}

.entry-content th, .entry-content td {
    border: solid 1px #ddd;
    padding: 5px 10px;
}

.entry-content td {
    background: #fff;
}

.entry-content > ul, .entry-content > ol {
	margin: 0.8em 0;
}

.entry-content ul li {
    list-style-type: disc;
    margin-left: 30px;
}
.entry-content ol li {
    list-style-type: decimal;
    margin-left: 30px;
}

.entry-content dl {
    margin: 0.8em 0;
}

.entry-content dt {
    font-weight: bold;
    margin-bottom: 0.2em;
}

.entry-content dd {
    margin-left: 30px;
    margin-bottom: 0.4em;
}

.entry-content img, .entry-content iframe, .entry-content embed { 
    max-width: 650px;
}

.entry-content img.magnifiable, .entry-content img.hatena-fotolife { 
    max-width: 650px;
    border: solid 1px #ddd;
}

.entry-content img.magnifiable:hover, .entry-content img.hatena-fotolife:hover { 
    border: solid 1px #de741e;
}

.entry-content .hatena-asin-detail {
	background: #fff;
	border: solid 1px #ddd;
	padding: 15px 20px;
}

.entry-content .hatena-asin-detail li {
    list-style-type: none;
    font-size: 95%;
}

.entry-footer a {
    color: #4c4c4c;
    font-size: 80%;
}

.fn {
    font-size: 80%;
}

.entry-footer-section {
	display: inline-block;
}

.hatena-star-container {
	margin-left: 10px;
    margin-bottom: 10px;
	display: inline-block;
}

.social-buttons {
	margin: 0.8em 0;
}

/* コメント */
.comment-box ul {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 95%;
  line-height: 1.7;
}
.comment-box li {
  padding: 10px 0 10px 60px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
.comment-box li:first-child {
  border-top: 1px solid #dddddd;
}
.comment-box .hatena-id-icon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px !important;
  height: 50px !important;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.comment-user-name {
  margin: 0 0 10px 0;
  font-weight: bold;
}
.comment-content {
  font-size: 90%;
  margin: 0 0 10px 0;
  word-wrap: break-word;
}
.comment-content p {
  margin: 0 0 10px 0;
}
.comment-metadata {
  font-size: 80%;
  color: #999999;
  margin: 0;
}
.comment-metadata a {
  color: #999999;
}

.entry-footer .comment-box {
    margin: 0.8em 0;
}

.entry-footer .leave-comment-title {
	padding: 4px 8px;

	color: #fff;
	background: #195caa;

	text-decoration: none;
	text-align: center;
	font-size: 80%;
	white-space: nowrap;
	
	border-radius: 3px;

    display: inline-block;
}

.entry-footer .leave-comment-title:hover {
	background-color: #184271;
}


/* common sidebar */
#box2 {
    width: 275px;
    height: auto;

    float: left;
    color: #000;
}

.hatena-module {
    width: 275px;
    padding: 20px 25px;
    background: #fff;
    margin-bottom: 25px;
    font-size: 90%;
}

.hatena-module a {
    color: #195caa;
}

.hatena-module a:hover {
    text-decoration: underline;
}

.hatena-module-title {
    font-size: 120%;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
}

.hatena-module-body {
    font-size: 90%;
}

/* For hentai game's banner */
.hatena-module-body a .erg {
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

.hatena-module-body:hover a .erg {
    opacity: 0.8;
}

.hatena-module-recent-comments .hatena-urllist li {
    padding: 0.4em 0;
}

.hatena-module-recent-entries .hatena-urllist li a, .hatena-module-links .hatena-urllist li a {
    display: block;
    padding: 0.4em 0;
}

.hatena-module-recent-entries .hatena-urllist li a:hover, .hatena-module-links .hatena-urllist li a:hover{
	background: #efefef;
	text-decoration: none;
}

/* Profile Design */
.hatena-module-profile .profile-icon {
    margin: 0 10px 10px 0;
    border-radius: 3px;
    float: left;
    border: solid 1px #fff;
}

.id {
	font-size: 100%;
}

.profile-description {
    margin: 0.8em 0;
    text-align: left;
    line-height: 1.5;
}

/* Searchbox Design */
.search-module-input {
    width: 225px;
    height: 28px;
    padding: 3px 5px;
    border: solid 1px #ccc;
    vertical-align: middle;
}

.search-module-button {
    display: none;
}

.search-module-button:hover {
    background: #a04910;
}

.hatena-module-recent-entries li a::before, .hatena-module-links li a::before  {
	content: '\25B8  ';	
}

/* 改行防止(省略表示) */
.hatena-module-recent-entries li a, .hatena-module-recent-comments li {
	word-wrap: normal; /* for IE */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.archive-module-month {
	list-style-type: none !important;
}

/* Tag Cloud */
.hatena-module-category li  {
	display: inline-block;
	margin-bottom: 2px;
}

.hatena-module-category li a {
	display: inline-block;
	background: #fff;
	color: #195caa;
	border: solid 1px #efefef;
	border-radius: 3px;
	padding: 0 5px;
	line-height: 25px;
	height: 25px;
	font-size: 80%;
	
	max-width: 225px;

	word-wrap: normal; /* for IE */
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.hatena-module-category li a:hover {
	background: #efefef;
	text-decoration: none;
}

.hatena-module-archive .hatena-urllist li, .hatena-module-category .hatena-urllist li {
    padding: 0.1em 0;
}

/* Pager Button */
.pager {
	width: 700px;
}

.pager::after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.pager-next a::after {
    content: " \25b6";
}

.pager-prev a::before {
    content: "\25c0 ";
}

.page-entry .pager-next a,.page-entry .pager-prev a, .page-archive .pager-next a, .page-archive .pager-prev a {
	display: block;
	width: 338px;
	text-align: center;
	background: #fff;
	float: left;
	margin: auto;
    padding: 12px 0;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    font-size: 90%;
    color: #195caa;
}

.page-entry .pager-next a, .page-archive .pager-next a {
	float: right;
}

/* Index-Page */
.page-index .pager-next a, .page-search .pager-next a, .page-category-category_name .pager-next a, .page-entries-year-month-day .pager-next a  {
	display: block;
	width: 700px;
	text-align: center;
	background: #fff;

	margin: auto;
    padding: 12px 0;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    font-size: 90%;
    color: #195caa;
}

.pager-next a:hover, .pager-prev a:hover {
	text-decoration: none;
	background: #efefef;
}

/* アーカイブページ */
.page-archive #main-inner {
	padding: 20px 25px 25px;
	background: #fff;
    position: relative;
    margin-bottom: 30px;
    
    padding-bottom: 20px;
}

.page-archive #main a {
    color: #4c4c4c;
}

.page-archive #main p {
    font-size: 120%;
    color: #4c4c4c;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.page-archive #main .entry-title {
    font-size: 90%;
    font-weight: normal;
    display: inline-block;
    margin-top: 10px;
    color: #195caa;
}

.page-archive #main .categories::before {
    display: none;
}

.page-archive section {
    margin-bottom: 10px;
	font-family: sans-serif;
}

.page-archive #main section h1 {
	font-weight: bold;
	font-size: 90%;
	color: #454545;
	margin-bottom: 0.4em
}

.page-archive #main section li {
	margin-bottom: 0.8em;
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.4em; 
}

.page-archive #main .categories a {
	color: #898989;
    font-size: 70%;
    display: inline-block;
    padding: 3px 6px;
    background: #efefef;
}

.page-archive #main span.categories {
	display: block;
}

/* about */
.page-about #main dt {
	padding: 0 0 0.4em;
	margin: 0 0 0.4em 0;
	border-bottom: solid 1px #ddd;
}

.page-about #main dd {
	margin: 0 0 0.8em 10px;
}

.page-about #main dt::before {
    content: "❦ ";
    color: #454545;
}

.page-about #main .entry-content {
    border-bottom: none;
}

/* height対応 */
#content::after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

/* footer */
#footer {
    clear: both;
    text-align: center;
    padding: 10px;
    font-size: 80%;
    z-index: 4;
}

#footer a {
    color: #454545;
    text-shadow: 0 0 1px #fff;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

#footer a:hover {
    text-decoration: underline;
}

#footer img {
    border-radius: 50%;
}

#top-editarea, #bottom-editarea {
	width: 1000px;
	margin: auto;
	background: #fff;
	margin: 25px auto;
	padding: 20px 25px;
}